body{
    background-image: url("./assets/1background.jpg");
    background-color: rgb(80, 78, 78);
    font-family: 'Quicksand', sans-serif;
    margin: auto;

}
.employee-card{
    margin: 3px;
}
.team-heading{
    font-family: 'Roboto Slab', serif;
}
.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}